.footer {
}
.container {
}
.footer-body {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
  height: 125px;
  @media(max-width: 768px){
    flex-direction: column;
    padding: 0 0 18px 0;
  }
}
.footer-body__column {
  @media(max-width: 768px){
    &:first-child{
      order: 2;
    }
    &:last-child{
      order: 1;
    }
  }
}
.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
  a{
    text-decoration: underline;
    color:#4d4d4d;
    &:hover{text-decoration: none;}
  }
}
.footer__logo {
  @media(max-width: 768px){
    
  }
}
.footer__logo img{
  @media(max-width: 768px){
    width: 170px;
    margin: 10px 0 0 0;
  }
}